<div class="pt-5 pb-5">
<div class="search" data-search>
  <label for="search" class="search-label">search</label>
  <input id="search" class="search-input" data-search-input>
  <button class="search-control" data-search-control aria-label="clear search"></button>
</div>
</div>
<div>
  {{#unless error}}
  {{#each songs as |song|}}
    <div>

      <audio controls>
  <source src={{song.media_url}} type="audio/ogg">
  <source src={{song.media_url}}  type="audio/mpeg">
Your browser does not support the audio element.
</audio>
    </div>
  {{/each}}
  {{/unless}}
   {{#if error}}
      <div>
        No Results Found
      </div>
   {{/if}}
</div>
 {{#if logged_in}}
<script src="/js/search-box.js"></script>
{{/if}}