<div class="d-flex flex-column py-5">
    <form class="d-flex flex-column p-5" class="login-form">
        <div class="mb-4">
            <label for="email" class="form-label">Email address</label>
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">
            <div id="emailHelp" class="form-text text-dark">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password">
        </div>
       <button type="submit" class="btn" id="login">Login</button>
       <br>
       <div><small class="error-message text-danger"></small></div>
    </form>
     <a href="/signup" class="sign-up-link">Not a member ? Sign Up</a>
</div>
 
<script src="./js/login.js"></script>

