*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
:root{

    --primary-color:#8CBDB9;
    --button-color:#E09E50;
    --text-color:#2D3E4E;
    --light-color:#E8ECEB;
    --error-color:#D0312D;
}

a,a:hover,a.activer{

    text-decoration:underline;
    color:var(--text-color);
    text-align: center;
    padding-bottom:7px;
    text-shadow: 1px 1px var(--light-color);
}


body{

    font-family:Roboto,'Times New Roman', Times, serif;
    background: url('../images/music-app-background-image-3.jpg') no-repeat center center/cover fixed ;
    color:var(--light-color) !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto -30px;
    padding: 1.3rem;
    position: relative;
    
}



h1{
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: Splash,'Times New Roman', Times, serif;
}


#form-container{

    height:100vh;
}


form{

    background-color: var(--primary-color);
    color:var(--text-color);
    border-radius: 6%;
}

.btn{

    background-color: var(--button-color);
}



/*search Box Styling*/
.search {
    position: relative;
  }
  .search.is-search-open .search-input {
    width: 300px;
    color: #fff;
  }
  .search.is-search-open .search-input ~ .search-control {
    z-index: 0;
    cursor: pointer;
  }
  .search.is-search-open .search-input ~ .search-control::before {
    transform: rotate(45deg);
  }
  .search.is-search-open .search-input ~ .search-control::after {
    transform: rotate(-45deg) translateY(0);
  }
  
  .search-label {
   
    font-style:italic;
    letter-spacing: 1.4px;
    color: #e5edf1;
    font-size: 0.8rem;
  }
  
  .search-input {
    width: 40px;
    height: 40px;
    padding: 10px 15px;
    border: 4px solid #fff;
    border-radius: 99px;
    background: transparent;
    color: transparent;
    font-size: 2rem;
    transition: 0.4s width ease, 0.4s color ease;
  }
  .search-input:focus {
    outline: none;
  }
  
  .search-control {
    position: absolute;
    z-index: -1;
    top: 48%;
    right: 15px;
    height: 20px;
    width: 20px;
    padding: 0;
    border: none;
    background: transparent;
    transform: translateY(-50%);
  }
  .search-control::before, .search-control::after {
    position: absolute;
    display: block;
    top: 0;
    left: 42%;
    width: 4px;
    height: 100%;
    border-radius: 99px;
    background: #fff;
    transition: 0.4s transform cubic-bezier(0.17, 0.67, 0.48, 1.34);
    content: "";
  }
  .search-control::before {
    transform: rotate(45deg) translateY(-25px) scaleY(0.01);
  }
  .search-control::after {
    transform: rotate(-45deg) translateY(37px);
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  #library-container, #playlist-container{

    background-color: var(--primary-color);
    opacity: 0.8;
    border-radius: 10px; 
    padding: 3px;
    color: var(--text-color);

  }

  #library-container{

    flex:30% 1 1;
  }
  #playlist-container{

    flex:70% 1 2;
  }

  #playlist-container li{

    margin-bottom: 0.3rem;
    border-radius: 10px;
    
  }
  i{

    padding: 0.6rem;
    cursor:grab;
  }

  #media-image{

    width:50px;

  }

  #audio-element{

    display: none;
    width:50%; 
  }

  .song-details span{

    font-family: 'Courier New', Courier, monospace;
    margin: 0 1rem;
    text-transform: capitalize;
  }

  .song-details span:nth-child(2){

    font-style: italic;
    margin-right: 0;
    padding-right: 0;
  }


  footer{

    padding-bottom: 3rem;
    margin:3rem;
    height:30px;
    width:100%;
    position: fixed;
   
    bottom:0;
  }

  main::after{
    content:'';
    clear:both;
  }

  .btn-group{

    margin-top:20px;
    margin-right: 100px;
  }
 
/*pointer events none will prevent any events on disabled icons*/
i[disabled]{

    color:#CD5C5C;
    
    pointer-events:none;
    cursor: not-allowed; 

}


/*MEDIA SCREEN FOR SEARCH BOX*/

@media screen and (max-width:768px) {
  

/*search Box STyling*/
.search {
  position: relative;
}

/*Search Box length*/

.search.is-search-open .search-input {
  width: 200px;
  color: #fff;
}

.search.is-search-open .search-input ~ .search-control {
  z-index: 0;
  cursor: pointer;
}
.search.is-search-open .search-input ~ .search-control::before {
  transform: rotate(45deg);
}
.search.is-search-open .search-input ~ .search-control::after {
  transform: rotate(-45deg) translateY(0);
}

.search-label {
 
  font-style:italic;
  letter-spacing: 1.4px;
  color: #e5edf1;
  font-size: 0.8rem;
}

.search-input {
  width: 20px;
  height: 40px;
  padding: 10px 15px;
  border: 4px solid #fff;
  border-radius: 99px;
  background: transparent;
  color: transparent;
  font-size: 1rem;
  transition: 0.4s width ease, 0.4s color ease;
}
.search-input:focus {
  outline: none;
}

.search-control {
  position: absolute;
  z-index: -1;
  top: 60%;
  right: 40%;
  height: 15px;
  width: 20px;
  padding: 0;
  border: none;
  background: transparent;
  transform: translateY(-30%);
}
.search-control::before, .search-control::after {
  position: absolute;
  display: block;
  top: 0;
  left: 20%;
  width: 4px;
  height: 100%;
  border-radius: 99px;
  background: #fff;
  transition: 0.4s transform cubic-bezier(0.17, 0.67, 0.48, 1.34);
  content: "";
}
.search-control::before {
  transform: rotate(45deg) translateY(-25px) scaleY(0.01);
}
.search-control::after {
  transform: rotate(-45deg) translateY(37px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
 
}


